
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit title tag</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <script src="js/vue.dev.js"></script>
        <script src="js/vuerouter.js"></script>
    </head>
    <body>
	    <div id="app">			
            <div class="nav-container">
                <nav class="nav-centered">
                    <div class="nav-utility" style='background: #8e949a;'>
                    </div>
                    <div class="nav-bar text-center">
                        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="module-group text-left">
                            <div class="module left">
                                <ul class="menu" id='navigation'>
                                    <li>
                                        <router-link to="/">Home</router-link>
                                    </li><li>
                                        <router-link to="/Register">Register</router-link>
                                    </li><li>
                                        <router-link to="/students">All Students</router-link>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </nav>
            </div>
		
            <div class="main-container">
                <section class="page-title page-title-3 image-bg overlay parallax">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" style='background-position : center;' src="img/alccover.jpg">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3 class="uppercase mb0 bannerCaption">School Information System</h3>
                                </div>
                            </div>
                            
                        </div>
                </section>

                <router-view>
                    <home>
                        <section class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3 class="uppercase headerTitle">welcome!</h3>
                                </div>
                            </div>
                            
                            <div class="row mb80 mb-xs-24">
                                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
                                    <p>
                                        This is the ALC school Information system, where students records are collected,stored, organized and managed appropriately.
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-1 text-center">
                                    <div class="feature boxed bg-blue">
                                        <h1 class="large"> <i class="fa fa-user"></i> </h1>
                                        <h5 class="">Not Registered? <a href='register.php'> Register Here!</a></h5>
                                    </div>
                                </div>
                                <div class="col-sm-5 text-center">
                                    <div class="feature boxed bg-blue">
                                        <h1 class="large"><i class="fa fa-group"></i> </h1>
                                        <h5 class=""> <a href='students.php'>View All Registered Students</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </home>
                    <register>
                        <div class="container">
                            <div class="row pb48">
                                <div class="col-sm-10 col-sm-offset-1 text-center">
                                    <h3 class='text-center headerTitle'> STUDENT REGISTRATION PORTAL</h3>
                                    <p class="lead">Please fill in your details correctly in the form below, if your are not registered yet</p>
                                </div>
                            </div>
                            <hr>
                            <div class='row '>
                                <div class='col-md-8 col-md-offset-2 formBackground '>   
                                <form  v-on:submit.prevent="onSubmit" enctype='multipart/form-data'>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                        <label for="firstname">First Name</label>
                                        <input type="text" class="form-control" id="firstname" placeholder="First name" v-model="firstname" >
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="lastname">Last Name</label>
                                            <input type="text" class="form-control" id="lastname" placeholder="Last name" v-model="lastname" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                        <label for="gender">Gender</label>
                                        <select v-model="gender" id="gennder" class="form-control"  id="validationDefault01" required>
                                            <option value=''>Select Gender</option>
                                            <option v-for="genderType in genderTypes" v-bind:value="genderType.value">
                                                {{genderType.text}}</option>
                                        </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationDefault02">Date Of Birth</label>
                                            <input type="date" class="form-control" id="validationDefault02" placeholder="Last name" v-model="dob" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email Address" v-model="email" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                        <label for="mobile">Mobile</label>
                                        <input type="text" class="form-control" id="mobile" placeholder="Your Mobile" v-model="mobile" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 mb-3">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" placeholder="Your Contact Address" v-model='address' required>
                                        <!-- <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div> -->
                                        </div>
                                        <div class="col-md-4 mb-3">
                                        <label for="validationDefault03">City</label>
                                        <select v-model="city" id="" class="form-control"  id="validationDefault01" required>
                                            <option value=''>Select City</option>
                                            <option v-for="city in cities" v-bind:value="city._id">{{city.name}}</option>
                                        </select>
                                        <!-- <div class="invalid-feedback">
                                            Please provide a valid city.
                                        </div> -->
                                        </div
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="level">Current Level</label>
                                            <select v-model="currentLevel"  class="form-control" id="level" required> 
                                            <option value="">Select Current Level</option> 
                                            <option v-for='level in levels' v-bind:value="level.value">{{level.text}}</option> 
                                            </select>   
                                            <!-- Please provide a valid state. -->
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="session">Current Session</label>
                                            <input type="text" class="form-control" id="session" placeholder="Your Current Session" v-model="session" required>
                                            <!-- <div class="invalid-feedback">
                                                Please provide a valid city.
                                            </div> -->
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="course">Course Of Study</label>
                                            <input v-model="course" placeholder='Your Course of Studet' class="form-control"  id="course" required >
                                            <!-- <div class="invalid-feedback">
                                                Please provide a valid Postal Code.
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-md-12 mb-3">
                                        <label for="photo">Photo</label>
                                        <input type="file" class="form-control" id="photo"  accept="image/*" placeholder="Browse photo" @change="filesChange" >
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-small formbtn" >Submit form</button>
                                    </form>
                                </div>     
                            </div>
                            
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-success" id="exampleModalLabel" v-if='message.success === true'>Registration Successful</h5>
                            <h5 class="modal-title text-danger" id="exampleModalLabel" v-else>Error!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center" v-if='message.success === true'>
                            {{message.successMsg}}
                        </div>
                        <div class="modal-body text-center" v-else>
                            {{message.errMsg}}
                        </div>
                        <div class="modal-footer" v-if='message.success === true'>
                            <a class="btn btn-small btnView" ><i class='fa fa-eye'></i> View </a>
                            <a class="btn btn-small btnView"><i class='fa fa-edit'></i> Edit</a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </register>
                </router-view>
                
            
                <hr>
                <div>
                    <p class='text-center lead'>© Copyright 2017 ALC Project - All Rights Reserved<br>Designed by <strong>Oluchi Enebeli</strong></p>  
                </div>        
            </div>
        </div> 
        <script>
            const  home = { template: '<section></section>' }
    const register = { template: '<section id="register"></section>' }
    const students = { template: '<div>bar</div>' }

// Define some routes
const routes = [
{ path: '/home', component: home },
{ path: '/register', component: register },
{ path: '/students', component: students }
]

// Create the router instance and pass the `routes` option
const router = new VueRouter({
    routes // short for `routes: routes`
})

// Create and mount the root instance.
const app = new Vue({
    router
}).$mount('#app')
        </script>
        <script src="js/axios.js"></script>
        <script src="js/api.js"></script>
	    <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/moment.js"></script>
    </body>
</html>
				