.pagination li a {
    width: 80px;
    height: 40px;
    padding: 0;
    text-align: center;
    padding-top: 7px;
    margin: 0 4px;
    color: #292929;
    font-weight: 400;
}





body{
    /* background: #ffebcd; */
}
.formBackground{
    background: #466480!important;
    color: rgba(255,255,255,.9)!important;
    padding: 30px;
    border: 1px solid #DDD;
    border-radius: 10px;
}    
.headerTitle{
    font-weight: 900;
    color: #466480;
}
.bannerCaption{
    font-weight: bold;
}
.formbtn {
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 2px solid #337ab7;
        padding: 0 26px;
        height: 40px;
        min-width: 150px;
        line-height: 36px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 3px;
        color: rgba(255,255,255,.9)!important;
        text-align: center;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        margin-right: 8px;
        margin-bottom: 24px;
        background: #337ab7;
    }
.btnAddnew{
    float: right!important;
}     
.detailTable{
    width:800px;
}
@media (max-width: 1024px){
    .btnAddnew{
        float: none!important;
    } 
}
@media (max-width: 767px){
    .detailTable{
        width:100%!important;
    }
    #register{
        padding: 40px 18px;
    }
}
.bg-blue{
    background: #466480!important;
    color: #DDD;
    border: 2px solid #DDD;
}
.bg-blue a{
    color: #DDD;
}

.form-control{
   font-size: 11px!important;
   color: #999999!important;
}

.breadcrumb li a{
    font-weight: bold;
    font-size: 13px;
}
.bodyBorder{
    border-left: 5px solid #466480;
}
.smallText{
    font-size: 12px;
    margin-top: -10px;
}
.studentsInfo{
    /* text-align: left!important; */
    margin-top: -10px;
}
.studentsInfo strong, .name{
    color: #466480;
    font-weight: 500;
}

.feature.boxed {
    padding: 10px!important;
}    
.btnView{
    background: #204d74;
    color: #DDD!important;
    border-color: #DDD!important; 
}
.btnDel{
    
    color: #DDD!important;
    border-color: #d9534f!important;
}
.btnEdit{
    background: #47b475;
    color: #DDD!important;
    border-color: #DDD!important; 
}
.btnDel:hover{
    background: #333;
    color: #d9534f!important;
    border-color: #333!important; 
}

.btnEdit:hover{
    background:#47b475!important;
    color: #FFF!important;
    border-color: #47b475!important; 
}
.btnView:hover{
    background: #204d74!important;
    color: #FFF!important;
    border-color: #204d74!important; 
}
.profileImg{
    width: 200px!important;
    /* height: 200px!important; */
}
/* .btnView,.btnEdit:active{
    background: #333;
    color: #FFF;
} */
.headingStyle{
    padding: 10px;
}
.profiletable > tbody > tr > td{
    border-top: 0px solid #ddd!important;
}
.modal {
    top: 70px!important;
}    
.modal-header .close {
    margin-top: -24px!important;
}
.modal-header .close span{
    font-size: 24px!important;
    font-weight: bold!important;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: -20px!important;
    border: 0px!important;
    border-radius: 3px!important;
}
.modal-footer .btn {
    border: 0px!important;
    border-radius: 3px!important;
}



*{margin:0;}
body{ font: 200 16px/1 sans-serif; }
img{ width:32.2%; }

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(24,49,74,1);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;                /* will be increased by JS */
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}
 